.about-container
    //background-color: $backgroundColor
    //width: 100vw
    min-height: $viewHeight
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .about-title
        text-align: center
        margin-top: 3rem
        width: 30vw
        color:  $accentColor
        background-color: $backgroundColorAlpha
        padding: 2rem
        padding-bottom: 4rem
        font-size: 5rem
        text-decoration: underline
        border: 1px solid grey
        border-radius: .5rem
    .about-content-container
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        //margin: 3rem 1rem 1rem 1rem
        width: 100%
        min-height: 80%
        .left-section, .right-section
            background-color: $backgroundColorAlpha
            border: 1px solid grey
            border-radius: .5rem
            color: white
            padding: 1rem
            width: 80vw
            margin: 2rem
            .left-title
                text-align: center
                margin: 2rem
                font-size: 2.5rem
                color: white
                font-weight: bolder
            .left-content
                font-size: 2rem
                padding: 1rem 2rem 2rem 2rem
                line-height: 2.5rem
                //text-indent: 3rem
        .right-section
            padding: 4rem
            display: flex
            flex-direction: column
            justify-content: space-around
            .content-group
                display: flex
                flex-direction: row
                align-items: center
                .img-and-links
                    display: flex
                    flex-direction: column
                    align-items: center
                    img 
                        //width: 15rem
                        height: 16rem
                    .social-media-container
                        display: flex
                        flex-direction: row
                        @extend %SocialMediaButtons
                        img
                            width: 5rem
                            height: 5rem
                            margin: 1rem
                            

                .title-text
                    display: flex
                    flex-direction: column
                    padding: 1rem
                    .right-title
                        margin-bottom: 1rem
                        font-size: 4rem
                        color: $accentColor
                        font-weight: bold
                    .right-text
                        font-size: 1.5rem
                        line-height: 2rem
                    .bottom
                        padding-left: 2rem
                        