.contact-container
    height:$viewHeight
    background-image: url('../imgs/contact_background_redLaces.png')
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .form-container
        float: center
        background-color: $backgroundColor
        border: 1px solid white
        border-radius: 1rem
        height: 70vh
        width: 60vw
        .contact-title
            font-size: 3rem
            font-weight: bold
            color: white
            form
                .name-email
                    display: flex
                    flex-direction: row
            