.footer-container
    border-top: 1px solid white
    align-items: center
    background-color: $backgroundColor
    //display: flex
    flex-direction: row
    height: 8vh
    justify-content: flex-end
    margin: 0
    img
        vertical-align: center
        height: 5rem
        margin-right: 1rem
        opacity: 50%
        &:hover
            opacity: 100%
        &:active
            opacity: 70%
