.live-stream-container
    // background-color: $backgroundColor
    // display: flex
    // align-items: center
    // justify-content: center
    // min-height: 20vh
    .live-srtream
        min-height: 20vh
    .offline-component
        width: 100%
        height: 30vh
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h1
            width:75vw
            padding: 2rem
            font-weight: bolder
            background-color: #ffffff75
            border-top-left-radius: 2rem
            border-top-right-radius: 2rem
            text-align: center
            vertical-align: center
            font-size: 3rem
            color: $accentColor
        p
            border-bottom-left-radius: 2rem
            border-bottom-right-radius: 2rem
            width:75vw
            padding: 2rem
            font-weight: bolder
            background-color: #ffffff75
            text-align: center
            vertical-align: center
            font-size: 2rem
            color: $accentColor
            a
                text-decoration: underline
                color: $backgroundColor
                &:hover
                    color: white