.merch-container
    background-color: white
    height: 85vh
    width:100%

    .title-section
        background-color: $backgroundColor
        width: 100%
        color: white
        text-align:  center
        font-size: 5rem
        h1
            padding: 3rem
    .carousel
        display: flex
        flex-direction: row
        height: 70vh
        background-color: lightgrey
        align-items: center
        overflow-x: hidden
        .item-container
            transition: 0.5s
            .item
                margin-right: 8.5vw
                &:first-child
                    margin-left: 8.5vw
                img
                    width: 25rem
                .lable
                    background-color: $backgroundColor
                    color: white
                    height: 10rem
    %button-style
        position: relative
        width: 10rem
        top: -50%
        

    #goLeft
        @extend %button-style
        left: 0%
    #goRight
        @extend %button-style
        right: 0%
        float: right