.merch-container
    background-color: $backgroundColor
    height: 50rem

    .title-section
        width: 100%
        color: white
        text-align:  center
        font-size: 5rem
        h1
            padding: 3rem
    .carousel
        display: flex
        height: 100%
        background-color: lightgrey
        align-items: center
        .item
            img
                width: 30rem
            .lable
                background-color: $backgroundColor
                color: white
                height: 10rem