
=Button($BackgroundColor)
    border: 1px solid white
    border-radius: 2px
    padding: 0.1rem 1.5rem 0.1rem 1.5rem
    font-size: 1.2rem
    &:hover
        border: 1px solid $accentColor
        color: $backgroundColor
        background-color: $accentColor
        border-radius: 4px

    &:active
        background-color: #ff00008f


=TitleText($color,$size)
    color: $color
    font-size: $size
    text-align: center
    font-family: rockwell
    text-shadow: 2px 2px 4px $dropShadow

%SocialMediaButtons
    img
        height: 4.5rem
        filter: grayscale(100%) brightness(500%)
        &:hover
            filter: grayscale(0%) brightness(100%)
        &:active
            opacity: .8