=Button($BackgroundColor)
    border: 1px solid white
    border-radius: 2px
    padding: 0.25rem 1rem 0.25rem 1rem 
    &:hover
        color: $BackgroundColor
        background-color: white
    &:clicked
        background-color: $BackgroundColor - 10
