.podcast-container
    background-image: url('../imgs/Hero/hero_img_00.jpg')
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 70rem
    align-items: center
    .player-container
        background-color: $backgroundColor
        border-radius: 2.4rem
        display: flex
        align-items: center
        justify-content: center
        height: 30rem

        width: 83rem
        .player-inner
            align-items: center
            background-color: white
            border-radius: 2.4rem
            display: flex
            height: 22rem
            width: 77rem
            .player-content
                align-items: flex-start
                display: flex
                flex-direction: column
                height: 60%
                justify-content: space-between
                padding: 0 3rem 0 3rem
                .title-date
                    padding-left: 3rem
                    align-items: center
                    width: 90%
                    display: flex
                    flex-direction: row
                    justify-content: space-between

                    h1
                        font-size: 2.5rem
                    .date
                        font-size: 1.2rem
                .player
                    background-color: white
                    width: 100%
                p
                    font-size: 1.75rem
                    padding-left: 3rem
    .podcast-icons
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 55%
        .podcast-icon
            align-content: center
            border: 3px solid black
            display: flex
            height: 15rem
            width: 10rem
            img
                padding: 2rem
                height: 6rem
