.podcast-container
    background-color: grey
    display: flex
    height: 80rem
    justify-content: center
    align-items: center
    .player-container
        background-color: $backgroundColor
        border-radius: 2.4rem
        display: flex
        align-items: center
        justify-content: center
        height: 30rem

        width: 83rem
        .player-inner
            align-items: center
            background-color: white
            border-radius: 2.4rem
            display: flex

            height: 20rem
            width: 77rem
            .player-content
                padding: 3rem
                display: flex
                flex-direction: row
                align-items: center
                .player-icon
                    height: 6rem
                .player-text-container
                    height: 15rem
                    display: flex
                    flex-direction: column
                    justify-content: space
                    margin-left: 3rem
                    .date
                        font-size: 1.2rem
                        margin-bottom: 2rem
                    .title-and-length
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        width: 63rem
                        h1
                            font-size: 3rem

                        p
                            font-size: 1.75rem
