html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  font-family: Segoe UI;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer-container img, .hero-container .hero-content .hero-buttons img {
  height: 4.5rem;
  filter: grayscale(100%) brightness(500%);
}
.footer-container img:hover, .hero-container .hero-content .hero-buttons img:hover {
  filter: grayscale(0%) brightness(100%);
}
.footer-container img:active, .hero-container .hero-content .hero-buttons img:active {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.nav-container {
  height: 6vh;
  background-color: #4D4C4C;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-logo {
  height: 4rem;
  width: auto;
  padding-left: 6rem;
}
.nav-container .nav-buttons {
  display: flex;
  width: 26rem;
  justify-content: space-around;
  padding-right: 6rem;
}
.nav-container .nav-buttons a {
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.nav-container .nav-buttons a:hover {
  border: 1px solid red;
  color: #4D4C4C;
  background-color: red;
  border-radius: 4px;
}
.nav-container .nav-buttons a:active {
  background-color: #ff00008f;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  background-image: linear-gradient(#4D4C4C, black);
}
.hero-container .hero-img {
  height: 50rem;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-container .hero-content h1 {
  color: black;
  font-size: 6rem;
  text-align: center;
  font-family: rockwell;
  text-shadow: 2px 2px 4px #00000086;
  width: 45rem;
  font-size: 6rem;
  font-weight: bold;
  color: white;
}
.hero-container .hero-content h3 {
  color: grey;
  font-size: 2rem;
  text-align: center;
  font-family: rockwell;
  text-shadow: 2px 2px 4px #00000086;
  margin: 0.5rem;
}
.hero-container .hero-content .hero-buttons {
  margin: 2rem;
  width: 30rem;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-container .hero-content .hero-buttons button {
  color: red;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid red;
  border-radius: 2px;
  box-shadow: 0px 0px 4px #00000086;
  font-size: 1.7rem;
  font-family: rockwell;
  outline: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-shadow: 2px 2px 4px #00000086;
}
.hero-container .hero-content .hero-buttons button:hover {
  color: white;
  background-color: red;
}
.hero-container .hero-content .hero-buttons button:active {
  background-color: #a00000;
  border: 2px solid #a00000;
}

.podcast-container {
  background-image: url("../imgs/Hero/Hero_Img_00.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90vh;
  align-items: center;
}
.podcast-container .player-container {
  background-color: #4D4C4C;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 53vw;
}
.podcast-container .player-container .player-inner {
  background-image: url("../imgs/name_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  background-color: white;
  border-radius: 2.4rem;
  display: flex;
  min-height: 22rem;
  width: 50vw;
}
.podcast-container .player-container .player-inner .player-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}
.podcast-container .player-container .player-inner .player-content .title-date {
  padding-left: 3rem;
  margin-bottom: 2rem;
  align-items: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.podcast-container .player-container .player-inner .player-content .title-date h1 {
  font-size: 2.5rem;
}
.podcast-container .player-container .player-inner .player-content .title-date .date {
  font-size: 1.2rem;
}
.podcast-container .player-container .player-inner .player-content .player {
  background-color: none;
  width: 100%;
}
.podcast-container .player-container .player-inner .player-content .player:focus {
  outline: none;
}
.podcast-container .player-container .player-inner .player-content .description {
  font-size: 1.75rem;
  padding-left: 3rem;
  margin-top: 1.5rem;
}
.podcast-container .podcast-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  height: auto;
}
.podcast-container .podcast-icons .podcast-icon {
  margin: 2rem;
  align-content: center;
  border: 3px solid white;
  display: flex;
  height: 10rem;
  width: 10rem;
}
.podcast-container .podcast-icons .podcast-icon:hover {
  border: 3px solid red;
}
.podcast-container .podcast-icons .podcast-icon:active {
  border: 3px solid red;
}
.podcast-container .podcast-icons .podcast-icon img {
  padding: 2rem;
  height: 6rem;
  filter: grayscale(100%) brightness(500%);
}
.podcast-container .podcast-icons .podcast-icon img:hover {
  filter: grayscale(0%) brightness(100%);
}
.podcast-container .podcast-icons .podcast-icon img:active {
  opacity: 0.8;
}

.merch-container {
  background-color: white;
  height: 78vh;
  width: 100%;
}
.merch-container .title-section {
  background-color: #4D4C4C;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 5rem;
}
.merch-container .title-section h1 {
  padding: 3rem;
}
.merch-container .carousel {
  display: flex;
  flex-direction: row;
  height: 55vh;
  background-color: lightgrey;
  align-items: center;
  overflow-x: hidden;
}
.merch-container .carousel .item-container {
  transition: 0.5s;
}
.merch-container .carousel .item-container .item {
  margin-right: 8.5vw;
}
.merch-container .carousel .item-container .item:first-child {
  margin-left: 8.5vw;
}
.merch-container .carousel .item-container .item img {
  width: 25rem;
}
.merch-container .carousel .item-container .item .lable {
  display: flex;
  justify-content: space-around;
  background-color: #4D4C4C;
  color: white;
  height: 10rem;
  align-items: center;
}
.merch-container .carousel .item-container .item .lable div h1 {
  padding-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.merch-container .carousel .item-container .item .lable div p {
  color: #a1a1a1;
}
.merch-container .carousel .item-container .item .lable p {
  font-size: 1rem;
  color: #a1a1a1;
}
.merch-container .bottom-banner {
  height: 7rem;
  background-color: #4D4C4C;
}
.merch-container .bottom-banner h1 {
  padding-top: 1.5rem;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.merch-container .bottom-banner h1 a {
  text-decoration: underline;
  font-style: italic;
  color: white;
}
.merch-container .bottom-banner h1 a:hover {
  color: red;
}
.merch-container .goRight, .merch-container .goLeft {
  position: absolute;
  width: 10rem;
  top: 207%;
  border: none;
  background: none;
}
.merch-container .goRight:focus, .merch-container .goLeft:focus {
  outline: none;
}
.merch-container .goRight:active, .merch-container .goLeft:active {
  opacity: 0.5;
}
.merch-container .goRight img, .merch-container .goLeft img {
  width: 3rem;
}
.merch-container .goLeft {
  left: 0%;
}
.merch-container .goRight {
  right: 0%;
  float: right;
}

.about-container {
  background-color: #4D4C4C;
  width: 100%;
  height: 85.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-container .about-title {
  text-align: center;
  color: red;
  font-size: 5rem;
  text-decoration: underline;
}
.about-container .about-content-container {
  display: flex;
  justify-content: space-around;
  margin: 3rem 1rem 1rem 1rem;
  width: 90%;
  height: 80%;
}
.about-container .about-content-container .left-section, .about-container .about-content-container .right-section {
  background-color: #4d4c4cbb;
  border: 1px solid grey;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  width: 50vw;
  margin: 1rem;
}
.about-container .about-content-container .left-section .left-title, .about-container .about-content-container .right-section .left-title {
  text-align: center;
  margin: 2rem;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}
.about-container .about-content-container .left-section .left-content, .about-container .about-content-container .right-section .left-content {
  font-size: 2rem;
  padding: 1rem 2rem 2rem 2rem;
  line-height: 2.5rem;
}
.about-container .about-content-container .right-section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-container .about-content-container .right-section .content-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-container .about-content-container .right-section .content-group img {
  width: 15rem;
  height: 16rem;
}
.about-container .about-content-container .right-section .content-group .title-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.about-container .about-content-container .right-section .content-group .title-text .right-title {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: red;
  font-weight: bold;
}
.about-container .about-content-container .right-section .content-group .title-text .right-text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.about-container .about-content-container .right-section .content-group .title-text .bottom {
  padding-left: 2rem;
}

.contact-container {
  height: 85.9vh;
  background-image: url("../imgs/contact_background_redLaces.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4D4C4C;
  border: 1px solid white;
  border-radius: 1rem;
  height: 70vh;
  width: 60vw;
}
.contact-container .form-container .contact-title {
  margin-top: 2rem;
  width: 50vw;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.contact-container .form-container .contact-form {
  diplay: flex;
  margin: 3rem;
}
.contact-container .form-container .contact-form .name-email {
  margin-bottom: 2rem;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.contact-container .form-container .contact-form .name-email input {
  color: white;
  margin-top: 1rem;
  width: 23vw;
  height: 1.5rem;
}
.contact-container .form-container .contact-form .message {
  margin-bottom: 2rem;
}
.contact-container .form-container .contact-form .message textarea {
  margin-top: 1rem;
  width: 50vw;
  height: 30vh;
  color: white;
}
.contact-container .form-container .contact-form .title-field h2 {
  color: white;
  font-size: 2rem;
}
.contact-container .form-container .contact-form .title-field input, .contact-container .form-container .contact-form .title-field textarea {
  background-color: #4D4C4C;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.contact-container .form-container .contact-form .message-buttons button {
  border-radius: 1rem;
  height: 3.3rem;
  color: white;
  font-size: 1.8rem;
}
.contact-container .form-container .contact-form .message-buttons .submit {
  margin-right: 2rem;
  border: 0;
  background-color: red;
  width: 17rem;
}
.contact-container .form-container .contact-form .message-buttons .reset {
  border: 1px solid white;
  background-color: #4D4C4C;
  width: 10rem;
}

.footer-container {
  border-top: 1px solid white;
  align-items: center;
  background-color: #4D4C4C;
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: flex-end;
  margin: 0;
}
.footer-container img {
  margin-right: 2rem;
}

/*# sourceMappingURL=index.css.map */
